<head>
  <title>CLASH!!!</title>
  <meta name="viewport" content="width=device-width, user-scalable=no">
  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600' rel='stylesheet' type='text/css'>
  <script
  src="https://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>
  <script src='http://ricostacruz.com/jquery.transit/jquery.transit.js'></script>
</head>


<template name="mondial">
<body>

<div class='content'>
    <center>
  {{> Template.dynamic template=main}}
  </center>
</div>
<audio id="idaudio">
  <source id="idaudiosrc" src="/musiques/1.mp3" type="audio/mpeg">
</audio>
</body>
</template>

<template name="scores">
  <video id="myVideo">
    <source type="video/mp4">
  </video>
  <div class="players">
    {{#each players}}
      {{> player}}
    {{/each}}
  </div>

  <div id='idsname' class="clashname" >
    #{{ns}}&nbsp;{{scene.val}}
  </div>
  <div id='idcarte' class="carte">
    {{carte.val}}
  </div>
  <div id="idtimer" class="timer">
    {{timer}}
  </div>
</template>

<template name="player">
  <div id='{{id}}' class="player {{selected}} {{hidden}}" style="margin:50px">
    <!-- <img src='/img/{{id}}V.png' style='width:160px; height:400px'><br/> -->
    <video id='avatar{{id}}' style='width:200px;'>
      <source src="/img/avatar{{id}}.mp4" type="video/mp4">
    </video>
    <br/>
    <span class="name">{{name}}</span>
    <span class="score pulse">{{score}}</span>
  </div>
</template>

<template name ="admin">
  <div style='width:100%; height:60px; padding:0px; margin:0px;'>
    <button style="float:left;" class="prev">PREV</button>
    <span>{{scene.val}}</span>
    <button style="float:right;" class="next">NEXT</button>
  </div>
  <div style="float:left; width:50%; border:1px solid #FFFFFF; padding:0px; margin:0px;">
    {{#each players}}
    <div>
        <button id="idsp" idp="{{id}}">{{name}}</button>
        {{score}}
        <button onclick="Meteor.call('addscore', {{id}}, -10 )">-10</button>
        <button onclick="Meteor.call('addscore', {{id}}, 10 )">+10</button>
    </div>
    {{/each}}
    <hr>
    <div>
      <button onclick="Meteor.call('reset')">RESET</button>
      <button onclick="Meteor.call('show')">SHOW</button>
      <button onclick="Meteor.call('hide')">HIDE</button>
    </div>
    <hr>
    <div>
      <button id="idrandom">CARTE!!!</button>
      <button id="idnocarte">NOCARTE</button>
    </div>
  </div>

  <div style="float:left; width:50%; border:1px solid #FFFFFF; padding:0px; margin:0px;">
    <div>
      {{#each videos}}
      <button onclick="Meteor.call('changevideo', {{id}});">{{name}}</button>
      {{/each}}
    </div>
    <hr>
    <div>
      <button id="idsuspens">SUSPENS</button>
      <button id="idlove">LOVE</button>
    </div>
    <hr>
    <div>
      <button id="idstop">STOP</button>
      <button id="idplay">CONTINUE</button>
    </div>
  </div>

</template>
