* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Bison';
  src: url('/font/bison.ttf');
}

@font-face {
  font-family: 'Sarpanch Black';
  src: url('/font/Sarpanch-Black.ttf');
}

body {
  background-color: #000;
  font-family: 'Bison';
  font-size: 16px;
  font-weight: normal;
  margin:0px;
  padding: 0;
  color:#FFF;
}

button {
  height:40px;
  width:100px;
  margin:6px;
  font-weight:bold;
  text-transform: uppercase;
}

.outer {

}

.title {
  font-size: 1.5em;
  font-weight: 600;
  letter-spacing: .3em;
  margin: 0 0 .25em;
  text-align: center;
  text-indent: .3em;
  text-transform: uppercase;
}

.subtitle {
  color: #999;
  font-size: .875em;
  margin-bottom: 2em;
  text-align: center;
}

.players {
  padding-top:90px;
  display: inline-block;
  perspective: 500px;
}

.clashname {
  position:fixed;
  font-size:80px;
  bottom:200px;
  width:50%;
  left:20px;
  color: #FFFFFF;
  text-shadow: 4px 4px 8px #000000;
  text-transform: uppercase;
  text-align: left;
  font-weight: bold;
  opacity:0;
}

.timer {
  color: #000000;
  font-family: "Sarpanch Black";
  position: fixed;
  right: 40px;
  bottom: 200px;
  font-size:80px;
  text-shadow: 0px 0px 4px #FFFFFF;
  text-transform: uppercase;
  text-align: left;
  font-weight: bold;
  opacity:0;
}

/* .score {
  color: #FFFFFF;
  font-family: "Sarpanch Black";
  font-size:220px;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
} */

.player {
  border: 2px solid #f1f1f1;
  background-color: #A0A0A0;
  cursor: pointer;
  float: left;
  padding: 0px;
  position: relative;
  overflow: hidden;
  transition: all 400ms ease-out;
  text-align: center;
  opacity: 0.9;
}

.player .name {
  color:#000000;
  display: inline-block;
  font-size: 40px;
  vertical-align: middle;
  margin:0px;
}

.score {
  color: #FF0000;
  display: block;
  font-family: "Sarpanch Black";
  text-shadow: 1px 1px 4px #000000, 0 0 25px #FFFFFF;
  font-size:70px;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
}

.carte {
  color: #FFFFFF;
  display: block;
  font-family: "Sarpanch Black";
  font-size:40px;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes pulse_animation {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
}

.pulse {
    animation-name: pulse_animation;
    animation-duration: 1000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.player.selected {
  background-color: #FFF;

  box-shadow: 0px 0px 100px 30px rgba(255,255,255, 0.7);
  opacity: 1;
  margin: 50px;
  z-index: 100;
  transform: scale(1.1) rotateX(5deg);
}

.details {
  overflow: hidden;
}

.hidden {
  zoom:0 !important;
  opacity: 0  !important;
  display:none;
  animation-name: rotation;
  animation-duration: 1000ms;
  animation-iteration-count: 1;
  animation-timing-function: linear;
}

@keyframes rotation {
		from { transform: rotate(0deg) scale(1) ; opacity:1 }
		to { transform: rotate(359deg) scale(0) ; opacity:0 }
}

.shown {
  zoom:1 !important;
  opacity: 0.9  !important;
  display:block;
  animation-name: rotationon;
  animation-duration: 1000ms;
  animation-iteration-count: 1;
  animation-timing-function: linear;
}

@keyframes rotationon {
		from { transform: rotate(0deg) scale(0) ; opacity:0 }
		to { transform: rotate(359deg) scale(1) ; opacity:0.9 }
}

.details .name {
  display: inline-block;
  font-size: 1.5em;
  font-weight: 300;
  line-height: 2.25rem;
  padding-left: 1.25rem;
  vertical-align: middle;
}

.details .inc {
  border-radius: 3em;
  border: #eb5f3a 1px solid;
  background: transparent;
  color: #eb5f3a;
  cursor: pointer;
  float: right;
  font-family: 'Source Sans Pro' ,'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 1rem;
  line-height: 1;
  margin: 0;
  outline: none;
  padding: 10px 30px;
  transition: all 200ms ease-in;
}

.inc:hover {
  background: #eb5f3a;
  color: #fff;
}

.inc:active {
  box-shadow: rgba(0,0,0,.3) 0 1px 3px 0 inset;
}

.message {
  color: #aaa;
  line-height: 2.25rem;
  text-align: center;
}

#myVideo {
    position: fixed;
    left: 0;
    top: 0;
    width:100%;
    height:100vh;
}

.content {
    background: rgba(0, 0, 0, 0);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
}


@media (max-width: 500px) {
  .details, .message {
    display: block;
    position: fixed;
    bottom: 0;
    background-color: #fafafa;
    width: 100%;
    padding: 12px 15px;
    border-top: 1px solid #ccc;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }

  .details .name {
    font-size: 1.2em;
    padding-left: 0;
  }

  .details .inc {
    padding: 10px 20px;
  }

  body {
    margin: 2em 0 4em 0;
  }

  .player:hover {
    background-color: inherit;
  }

  .player.selected:hover {
    background-color: #fefff4;
  }
}
